<form action="#" class="row gap-2" autocomplete="off" (ngSubmit)="search();">
  <div class="col-md-8">
    <div class="form-floating">
      <input type="text" 
        class="form-control" 
        placeholder="keywords..." 
        name="argument" id="argument" 
        [(ngModel)]="argument"
        (input)="debounceSearch($event);"
      >
      <label for="argument">keywords</label>
    </div>
  </div>
  <div class="col-md">
    <button type="submit" class="btn btn-secondary d-block w-100 h-100">search</button>
  </div>
</form>